@import 'tailwindcss';

@font-face {
  font-family: OpenSauceTwo;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/OpenSauceTwoRegular.ttf') format('truetype');
}
@font-face {
  font-family: OpenSauceTwo;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/OpenSauceTwoMedium.ttf') format('truetype');
}
@font-face {
  font-family: OpenSauceTwo;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/OpenSauceTwoSemiBold.ttf') format('truetype');
}
@font-face {
  font-family: OpenSauceTwo;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/OpenSauceTwoBold.ttf') format('truetype');
}
@font-face {
  font-family: OpenSauceTwo;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/OpenSauceTwoExtraBold.ttf') format('truetype');
}

@theme inline {
  /* Font */
  --font-*: initial;
  --font-sans: 'OpenSauceTwo', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@custom-variant aria-invalid (&:where([aria-invalid="true"]));

@custom-variant data-active (&:where([data-active]));
@custom-variant data-focus (&:where([data-focus]));
@custom-variant data-focus-visible (&:where([data-focus-visible]));
@custom-variant data-readonly (&:where([data-readonly]));
@custom-variant data-hover (&:where([data-hover]));
@custom-variant data-disabled (&:where([data-disabled]));
@custom-variant data-invalid (&:where([data-invalid]));
@custom-variant data-state-indeterminate (&:where([data-state="indeterminate"]));
@custom-variant data-state-checked (&:where([data-state="checked"]));
@custom-variant data-state-unchecked (&:where([data-state="unchecked"]));
