@import 'tailwindcss';

@font-face {
  font-family: OpenSauceTwo;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/OpenSauceTwoRegular.ttf') format('truetype');
}
@font-face {
  font-family: OpenSauceTwo;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/OpenSauceTwoMedium.ttf') format('truetype');
}
@font-face {
  font-family: OpenSauceTwo;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/OpenSauceTwoSemiBold.ttf') format('truetype');
}
@font-face {
  font-family: OpenSauceTwo;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/OpenSauceTwoBold.ttf') format('truetype');
}
@font-face {
  font-family: OpenSauceTwo;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/OpenSauceTwoExtraBold.ttf') format('truetype');
}

@theme inline {
  /* Font */
  --font-*: initial;
  --font-sans: 'OpenSauceTwo', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
